In [8]:
# perform imports
import pandas as pd

pd.options.mode.chained_assignment = None

In [9]:
# load dataset with the appropriate encoding; other encodings do not load properly
data_raw = pd.read_csv('us_accidents_road_data.csv', encoding="ISO-8859-1")

In [10]:
data_raw.dtypes

Unnamed: 0          int64
ID                 object
Severity            int64
Amenity              bool
Bump                 bool
Crossing             bool
Give_Way             bool
Junction             bool
No_Exit              bool
Railway              bool
Roundabout           bool
Station              bool
Stop                 bool
Traffic_Calming      bool
Traffic_Signal       bool
Turning_Loop         bool
dtype: object

In [11]:
data_raw.head(10)

,Unnamed: 0,ID,Severity,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop
0,0,A-1,3,False,False,False,False,False,False,False,False,False,False,False,False,False
1,1,A-2,2,False,False,False,False,False,False,False,False,False,False,False,False,False
2,2,A-3,2,False,False,False,False,True,False,False,False,False,False,False,False,False
3,3,A-4,2,False,False,False,False,False,False,False,False,False,False,False,False,False
4,4,A-5,3,False,False,False,False,False,False,False,False,False,False,False,False,False
5,5,A-6,2,False,False,False,False,False,False,False,False,False,False,False,True,False
6,6,A-7,2,False,False,False,False,False,False,False,False,False,False,False,False,False
7,7,A-8,2,False,False,False,False,True,False,False,False,False,False,False,False,False
8,8,A-9,2,False,False,False,False,False,False,False,False,False,False,False,False,False
9,9,A-10,2,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
# determine the total number of rows with NAs
print(f"Number of rows with NAs: {len(data_raw) - len(data_raw.dropna()):,}")

Number of rows with NAs: 0

Because the dataset appears to have no null values with the current column selection, no further data cleaning will be done at this time.